* {
    margin: 0;
    padding: 0;
}

#Titulo-Nombre{
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@font-face {
    font-family: 'Alina';
    src: url(/Fuente/Alina\ W00\ regular.ttf);
}

#Logo-en-letras{
    margin: 3%;
    font-family: 'Alina';
    font-size: 300%;
    text-align: center;
}

img {
    width: 15%;
}

#Texto-inicio{
    margin: 3%;
    text-align: center;
}
.caja{
    margin: 3%;
    width: auto;        
    height: auto;        
    display: flex;         
    justify-content: center;
    align-items: center;
}

.Espacios{
    margin: 5% 5% 5% 5%;
}

#vision-box{
    margin-bottom: 5%;
}

#mision-box{
    margin-bottom: 5%;
}

#politicas-box{
    margin-bottom: 5%;
}

#quienesSomos{
    margin: 5%;
    text-align: center;
    font-size: 250%;
}