* {
    margin: 0;
    padding: 0;
}

#Titulo-Nombre{
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@font-face {
    font-family: 'Alina';
    src: url(/Fuente/Alina\ W00\ regular.ttf);
}

#Logo-en-letras{
    font-family: 'Alina';
    font-size: 300%;
    text-align: center;
}

img {
    width: 100px;
}

.caja{
    margin: 1%;
    width: auto;        
    height: auto;        
    display: flex;         
    justify-content: center;
    align-items: center;
}