* {
    margin: 0;
    padding: 0;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.nombrebox{
    background-color:rgb(164, 190, 238);
    padding: 3%;
}

.boxcolor{
    padding: 5%;
}

#Titulo-Nombre{
    margin: 0% 2% 0 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#linknosotrosbox{
    margin: 3%;
}
#linktrabajabox{
    margin: 3%;
}
#linkespaciosbox{
    margin: 3%;
}
#linkiniciobox{
    margin: 3%;
}

.compo-imagenes{
    width: flex;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    text-align: center;

}

.compo-imagenes ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.compo-imagenes li{
    width: 100%;
    list-style: none;
    position: relative;
}

.compo-imagenes img{
    width: 100%;
}

@keyframes slide{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

#imagencarrucel{
    width: 60%;
    justify-content: space-between;
}

@font-face {
    font-family: 'Alina';
    src: url(/Fuente/Alina\ W00\ regular.ttf);
}

#Logo-en-letras{
    margin: 3%;
    font-family: 'Alina';
    font-size: 300%;
    text-align: center;
}

#logocorazon {
    width: 20%;
}

.imagenlogobox {
    display: flex;       
    justify-content: center; 
    align-items: center;     
    height: 3%;
}


#Texto-inicio{
    margin: 3%;
    text-align: center;
}
.caja{
    margin: 0%;
    width: auto;        
    height: auto;        
    display: flex;         
    justify-content: center;
    align-items: center;
}

.Espacios{
    margin: 5% 5% 5% 5%;
}

#vision-box{
    margin-bottom: 5%;
}

#mision-box{
    margin-bottom: 5%;
}

#politicas-box{
    margin-bottom: 5%;
}

#quienesSomos{
    text-align: center;
    padding: 3%;
    font-size: 250%;
    background-color: rgb(164, 190, 238);
}

.parrafo{
    text-align: justify;
}

.boxpresentacion{
    margin: 0%
}

.servicioslista{
    margin: 5%;
}

#serviciosbox{
    text-align: center;
    margin: 3%;
}

#ulbox{
    text-align: left;
    margin: 3%;
}

.redesbox{
    width: 100%;
    background-color:rgb(164, 190, 238);
    text-align: center;
}

.boximagenes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

#peronaslogo {
    margin-left: 5%;
    border-radius: 10px;
    width: 40%;
}

.listabox {
    text-align: left;
    margin-right: 5%;
}

.lista {
    padding-left: 20px;
    list-style-type: disc;
}

.serviciosh2 {
    margin-bottom: 10px;
}

.link-sociales{
    margin: 1%;
}

#redesh3{
    padding: 2%;
}
